main {
    min-height: 80vh;
}
html {
    -webkit-text-size-adjust: 100%;
}


h3 {
    margin: 1rem 0;
    font-size: small;
}

.rating span {
    font-size: 11px;
}

h1 {
    font-size: 1.8rem;
    padding: 0.1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.shipping,
.login,
.profile,
.register {
    margin-bottom: 10px;
}